<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
            <li><a href="badges.html"><i class="material-icons right">view_module</i>Link with Right Icon</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn">Registro</a></li>
            <li><a class="waves-effect waves-light btn">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>