<div class="row blue-grey lighten-4 filter">
    <h6 class="left-align">Compra tus entradas online</h6>
    <div class="col s12 m3 l3">
        <select>
        <option value="" selected>Fecha</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
      </select>
    </div>
    <div class="col s12 m3 l3">
        <select>
        <option value="" selected>Peliculas</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
      </select>
    </div>
    <div class="col s12 m3 l3">
        <select>
        <option value="" selected>Formato</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
      </select>
    </div>
    <div class="col s12 m3 l3">
        <select>
        <option value="" selected>Hora</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
        <option>ABC</option>
      </select>
    </div>
</div>